<div class="flex justify-content-between">
  <h2>Products</h2>
  <p-button label="Add Product" (click)="showAddModal()"></p-button>
</div>

<div class="table-container">
  <p-table [value]="products" [paginator]="true" [rows]="5">
    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Price</th>
        <th>Description</th>
        <th>Category</th>
        <th>Image</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td>{{product.id}}</td>
        <td>{{product.title}}</td>
        <td>{{product.price}}€</td>
        <td>{{product.category}}</td>
        <td><img src="{{product.image}}">
        <td>
        <button
          pButton
          icon="pi pi-pencil"
          class="p-button-rounded p-button-success mr-2"
          (click)="showEditModal(product)">
        </button>
        <button
          pButton
          icon="pi pi-trash"
          class="p-button-rounded p-button-danger mr-2"
          (click)="deleteProduct(product)">
        </button>
        </td>
      </tr>
    </ng-template>
  </p-table>

</div>

<app-add-edit-product [displayModal]="displayAddEditModal"
                      (clickClose) = "hideAddEditModal($event)"
                      [selectedProduct] = "selectedProduct"
                      (clickAddEdit)="addEditProduct($event)">
</app-add-edit-product>

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<p-toast position="top-left"></p-toast>
